<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uploadBitcode</key>
	<false/>
	<key>method</key>
	<string>app-store</string>
	<key>compileBitcode</key>
	<false/>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.haegin.hvso</key>
		<string>HVSO_appstore_dist</string>
		<key>com.haegin.hvso.NotificationExt</key>
		<string>HVSO_NotificationExt_appstore_dist</string>
	</dict>
	<key>signingCertificate</key>
	<string>iOS Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>AUMYLYLVN4</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
